.footer {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: rgb(15, 15, 15);
}

.footer-centred {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.svg-white-icon {
  fill: white;
  width: 60px;
  height: 60px;
}

.footer-logo-text {
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  margin: 0;
}

.svg-black-icon {
  width: 60px;
  height: 60px;
  fill: rgb(0, 0, 0);
}

.footer-contacts {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  margin: 0;
}

.footer-contacts_item {
  margin-left: 40px;
}

.footer-contacts_link {
  color: inherit;
  text-decoration: none;
}
