.start-info {
  text-align: center;
}

.start-info_header {
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.start-info_text {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.hero_button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  color: rgb(252, 252, 252);
  background-color: rgb(27, 128, 230);
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  min-height: 200px;
  min-height: 50px;
}
